* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(#000000 0px, #000000 10%,#f0fff4 20%,#f0fff4 30%,#00c535 40%,#00c535 50%,#ffc31f 60%,#ffc31f 70%,#00eeff 80%, #000000 100%);
}

.txtcaveat {
  font-family: "Caveat", cursive;
}

.txtroboto {
  font-family: "Roboto", sans-serif;
}

.masterlogo {
  width: auto;
  max-height: 24px;
}

.intro {
  height: 100vh;
}

.intro video {
  height: 100vh;
  width: auto;
  object-fit: cover;
}

.intro h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
  z-index: 99999;
}

.whoamix {
  margin: auto;
  text-align: center;  
  color: rgb(0, 0, 0);
}

section {
  /* height: 100vh; */
  color: black;
}

section h1 {
  text-align: center;
  font-size: 70px;
}

section .projects div {
  max-width: 540px;
}

section .space-me {
  padding-top: 100px;
}

section .projectimg {
  fill-opacity: inherit;
  width: 150px;
  height: auto;
}

section .sectionspacer {
  padding-top: 100px;
  padding-bottom: 100px;
}

section h1 {
  text-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

.captionbg {
  background-color: rgba(0,0,0,0.5);
}

.video-wrapper {
  /* Telling our absolute positioned video to 
  be relative to this element */
  position: relative;

   width: auto !important;
   height: 100vh !important;

  /* Will not allow the video to overflow the 
  container */
  overflow: auto;

  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-wrapper .caption {
z-index: 1;
position: relative;
text-align: left;
color: #ffffff;
padding: 10px;
}

video {
  /** Simulationg background-size: cover */
  object-fit: cover;
  height: 100vh !important;
  width: 100% !important;

  position: absolute;
  top: 0;
  left: 0;
}

.gamerimg {
  fill-opacity: inherit;
  margin: auto;
  max-width: 100vh;
}

.masterimg {
  fill-opacity: inherit;
  margin: auto;
  width:  400px;
  height: 400px;
  padding: 25px;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: none;
}

#btn-scroll {
  position: fixed;
  bottom: 20px;
  left: 50vh;
  display: block;
  -webkit-animation: bounce 0.75s infinite;
}
 
@-webkit-keyframes bounce {
  0% {
    transform: scale(1,1) translate(0px, 0px);
  }
  30%{
    transform: scale(1,0.8) translate(0px, 10px); 
  }

  75%{
    transform: scale(1,1.1) translate(0px, -25px); 
  }

  100% {
    transform: scale(1,1) translate(0px, 0px);
  }
}
